#friends-display-link{
    text-align: center;
    display: block;
    background-color: var(--lightgray);
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
}
#friends-display-link i{
    color: var(--gray);
    padding-right: 5px;
}
.friends__screen{
    padding: 0px var(--horizontal-space);
}