.more-screen .icon-row{
    margin-top: 35px;
}
.more-suggestions{
    margin-top: 50px;
    border-top: 1px solid var(--green);
    padding-top: 40px;
}
.more-suggestions__title{
    margin-bottom: 30px;
}