.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list{
    display:flex;
    justify-content: space-between;
}
.nav__link{
    color: var(--lightgray);
    position: relative;
}
.nav__notification1{
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 20px;
    bottom: 18px;
}
.nav__notification2{
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position:absolute;
    left: 28px;
    bottom: 25px;
}
.color__friends-nav{
    background-color: var(--purple);
}
.color__chats-nav{
    background-color: var(--blue);
}
.color__find-nav{
    background-color: var(--yellow);
}